################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YuemingGit.github.info/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/YuemingGit.github.info/v17/.wsuo
/.vs/YuemingGit.github.info/v17/DocumentLayout.json
